/* Main sidenav container class (dashboard and  yabi icon) */
.main-sidenav-container {
    background: #2E2F45;
    border-radius: 0px;
    transform: rotate(-90deg);
    width: 100px;
}

/* Main sidenav class*/
.main-sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

/* Dashboard container class*/
.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 8px;
    width: 60px;
    height: 40px;
    background: #4D4E73;
    border-radius: 5px;
}

/* Dashboard container second div child class*/
.dashboard-container>span:nth-child(2) {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FEFEFE;
    flex: none;
    order: 1;
    flex-grow: 0;
}
