<div class="guest-details-container">
    <div class="guest-title-container">
        <div class="guest-title-wrapper">
            <mat-icon>home</mat-icon>
            <div class="guest-title font-class">israel israeli</div>
        </div>
        <div class="guest-title-line">
        </div>
    </div>

    <div class="guest-contact-container">
        <div class="guest-contact-wrapper">
            <div class="guest-phonenumber-container">
                <mat-icon>phone</mat-icon>
                <div class="guest-phonenumber-title-container">
                    <div class="guest-phonenumber font-class">054-225-5452</div>
                    <div class="guest-phonenumber-title font-class">phone number</div>
                </div>
            </div>
            <div class="guest-contact-line">
            </div>
            <div class="guest-email-container">
                <mat-icon>email</mat-icon>
                <div class="guest-email-title-container">
                    <div class="guest-email font-class">ddd@dssd</div>
                    <div class="guest-email-title font-class">email address</div>
                </div>
            </div>
        </div>
    </div>

    <div class="guest-action-buttons-container">
        <div class="guest-action-accent-button">
            <button mat-flat-button color="accent">delete</button>
        </div>
        <div class="guest-action-primary-button">
            <button mat-flat-button color="primary">edit guest</button>
        </div>
    </div>
</div>