<div class="add-edit-guest-container">
    <div class="header-container">
        <div class="font-class add-edit-guest-title">{{inviteGuestTitle}}</div>
        <div class="action-buttons-container">
            <button mat-button (click)="closeDrawer.emit(true)">Cancel</button>
            <button mat-flat-button color="primary" (click)="addOrEditButtonClicked()">
                {{componentState=="Add"? "invite": "update"}}
            </button>
        </div>
    </div>

    <form [formGroup]="this.guestForm" style="width:100%">
        <app-form-field label="guest name" appearance="fill" [control]="this.guestForm.get('guestName')">
            <input matInput formControlName="guestName" />
        </app-form-field>
        <app-form-field label="email address" appearance="fill" [control]="this.guestForm.get('emailAddress')">
            <input matInput formControlName="emailAddress" type="email" />
        </app-form-field>
        <app-form-field label="phone number" appearance="fill" [control]="this.guestForm.get('phoneNumber')">
            <input matInput formControlName="phoneNumber" type="phone" />
        </app-form-field>
    </form>
</div>