<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #addOrEditGuestSidenav class="add-edit-guest-sidenav" mode="over" position="end">
        <app-add-edit-guest></app-add-edit-guest>
    </mat-drawer>

    <mat-drawer-content class="sidenav-content-container">
        <div class="font-class app-header-container">{{appHeaderTitle}}</div>
        <div class="sidenav-content-wrapper">
            <div class="sidenav-content-first-part">
                <div class="invite-guest-container">
                    <div class="font-class invite-guest-title">
                        {{inviteGuestTitle}}
                    </div>
                    <button mat-flat-button color="primary" (click)="addOrEditGuestSidenav.toggle()">
                        <mat-icon>add_circle</mat-icon>
                        {{inviteGuestButtonTitle}}
                    </button>
                </div>
                <div *ngIf="show" class="no-data-message-container">
                    <div class="font-class">{{noDataTitle}}</div>
                    <div class="font-class">{{noDataSubTitle}}</div>
                </div>
            </div>

            <div style="height:40%" *ngIf="show">
                <img style="width:400px;height: 290px;" src="../assets/images/noData.png" />
            </div>
        </div>
    </mat-drawer-content>

    <mat-drawer #mainSidenav class="main-sidenav" mode="side" opened="true" position="start">
        <div style="display: flex;flex-direction: column;align-items: center;gap: 25px;padding: 20px;">
            <img src="../assets/images/yabiIcon.png" />
            <div class="font-class dashboard-container">
                <mat-icon style="color:#FEFEFE;">dashboard</mat-icon>
                <span>dashboard</span>
            </div>
        </div>
    </mat-drawer>
</mat-drawer-container>