<mat-sidenav-container class="sidenav-container" autosize="true">

    <mat-sidenav #addEditGuestSidenav class="add-edit-guest-sidenav" mode="over" position="end" disableClose="true">
    <app-add-edit-guest [guest]="guest" (closeDrawer)="close($event)"></app-add-edit-guest>
</mat-sidenav>
    <mat-sidenav-content class="sidenav-content-container">
        <div class="font-class app-header-container">{{appHeaderTitle}}</div>
        <div class="sidenav-content-wrapper">
            <div class="sidenav-content-first-part">
                <div class="invite-guest-container">
                    <div class="font-class invite-guest-title">
                        {{inviteGuestTitle}}
                    </div>
                    <button mat-flat-button color="primary"
                        (click)="openAddEditGuestSidenav()">
                        <mat-icon>add_circle</mat-icon>
                        {{inviteGuestButtonTitle}}
                    </button>
                </div>

                <ng-template *ngIf="!guests;else guestsDetailsContainer">
                    <div class="no-data-message-container">
                        <div class="font-class">{{noDataTitle}}</div>
                        <div class="font-class">{{noDataSubTitle}}</div>
                    </div>
                </ng-template>
                <ng-template #guestsDetailsContainer>
                    <div class="guests-details-container">
                        <app-guest-details *ngFor="let guest of guests" [guest]="guest"
                            (deleteButtonClicked)="deleteButtonClicked($event)"
                            (editButtonClicked)="openDrawer()">
                        </app-guest-details>
                    </div>
                </ng-template>
            </div>
            <router-outlet></router-outlet>

            <div *ngIf="!guests">
                <div class="no-data-message-container">
                    <div class="font-class">{{noDataTitle}}</div>
                    <div class="font-class">{{noDataSubTitle}}</div>
                </div>
                <img style="width:400px;height: 290px;" src="../assets/images/noData.png" />
            </div>
        </div>

    </mat-sidenav-content>

    <mat-sidenav class="main-sidenav-container" mode="side" opened="true" position="start">
        <div class="main-sidenav">
            <img src="/../assets/images/yabiIcon.png" />
            <div class="font-class dashboard-container">
                <mat-icon style="color:#FEFEFE;">dashboard</mat-icon>
                <span>dashboard</span>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>