<mat-sidenav-container class="sidenav-container" autosize="true">

    <mat-sidenav #addEditGuestSidenav class="add-edit-guest-sidenav" mode="over" position="end" disableClose="true">
        <app-add-edit-guest *ngIf="guest" [guest]="guest" (closeSidenav)="close($event)"></app-add-edit-guest>
        <app-add-edit-guest *ngIf="!guest" (closeSidenav)="close($event)"></app-add-edit-guest>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="font-class app-header-container">{{appHeaderTitle}}</div>
        <div class="sidenav-content-wrapper">
            <div class="sidenav-content-first-part">
                <div class="invite-guest-container">
                    <div class="font-class invite-guest-title">
                        {{inviteGuestTitle}}
                    </div>
                    <button mat-flat-button color="primary" (click)="openAddEditGuestSidenav()">
                        <mat-icon>add_circle</mat-icon>
                        {{inviteGuestButtonTitle}}
                    </button>
                </div>
            </div>


            <ng-template *ngIf="!guests; then noDataContainer;else guestsDetailsContainer">
            </ng-template>
            <ng-template #noDataContainer>
                <div style="height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;">
                    <div class="no-data-message-container">
                        <div class="font-class">{{noDataTitle}}</div>
                        <div class="font-class">{{noDataSubTitle}}</div>
                    </div>
                </div>
                <img class="no-data-image" src="../assets/images/noData.png" />
            </ng-template>

            <ng-template #guestsDetailsContainer>
                <div class="guests-details-container">
                    <app-guest-details *ngFor="let guest of guests" [guest]="guest"
                        (deleteButtonClicked)="deleteButtonClicked($event)"
                        (editButtonClicked)="openAddEditGuestSidenav(guest)">
                    </app-guest-details>
                </div>
            </ng-template>



            <router-outlet></router-outlet>

        </div>
    </mat-sidenav-content>

    <mat-sidenav class="main-sidenav-container" mode="side" opened="true" position="start">
        <div class="main-sidenav">
            <img src="/../assets/images/yabiIcon.png" />
            <div class="font-class dashboard-container">
                <mat-icon style="color:#FEFEFE;">dashboard</mat-icon>
                <span>dashboard</span>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>