/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.font-class,.mat-button,.mat-flat-button,.mat-stroked-button {
    font-family: 'Avenir' !important;
    font-style: normal !important; 
}

button {
    font-weight: 800;
    font-size: 12px;
    text-transform: capitalize;
}

.mat-flat-button.mat-primary {
    color: #FEFEFE;
}

.cdk-global-scrollblock{
    overflow: hidden !important;
}